<h2>Product List</h2>
<ul>
  <!-- Using trackBy to keep track of the items that are being iterated through
       The opposite is using ng's object identity to keep track of every item in a collection
       trackBy allows us to target the nodes we need to change, therefore saving on performance -->
  <li *ngFor="let product of products" (click)="selectedProduct = product">
   {{ product.name | lowercase }}
  </li>
</ul>

<!-- We give an else statement to the *ngIf and use the template reference variable to interact with it -->
<app-product-detail
*ngIf="selectedProduct; else noProduct"
[product]="selectedProduct"
(bought)="onBuy($event)"
></app-product-detail>
<!-- We assign a template reference variable -->
<ng-template #noProduct>
  <p>No product selected</p>
</ng-template>

