<!-- Our view is only rendered when the name property has a value  -->
<!-- The *ngIf directive adds or rmeoves elements in the DOM tree -->
<!-- The * indicates a structural directive -->
<!-- Added product to the ngIf so it itterates over products array and objcets -->
<div *ngIf="product">  
    <h2>Product Details</h2>
    <!-- used the product property and the name object to show in the template -->
    <h3> {{ product.name }} </h3>  
    
    <span>{{product.price | currency:'USD'}}</span>
    <!-- ngSwitch defines the property that we want to check when applying the directive -->
    <div [ngSwitch]="product.name">
        <!-- ngSwitchCase adds or removes a remplate from the DOM tree depending on the valye of the property defined in the ngSwitch -->
        <p *ngSwitchCase="'Webcam'">
            Product is used for video
        </p>
        <p *ngSwitchCase="'Microphone'">
            Product is used for audio
        </p>
        <!-- ngSwitchDefault adds a template to the DOM tree if the value of the property defined 
            in the ngSwitch directives does not meet any ngSwitchCase statement -->
        <p *ngSwitchDefault>Product is for general use</p>
    </div>
    
    <p>{{product | json}}</p>
    <button (click)="buy()">Buy Now</button>
</div>

